body {
    background-color:aqua;
    color: #000305;
    font-family:Arial,'Lucida Sans Unicode';
    font-size:left;
    line-height:1.5;

}

a {
    text-decoration:none
}

    a:link, a:visited {
    color:#cf5c3f;
    }

    a:hover, a:active {
    background-color:#cf5c3f;
    color:#fff;
    }

.body {
    margin: 0 autio;
    width: 70%;
    clear:both;
}

.mainHeader img {
width: 30%;
height:auto;
margin:2% 0;
}

.img {

}

.active {
background-color:fff;
color:#fff;
}

.active a:hover, a:active {
    background-color:#cf5c3f;
    color:#fff;